a#twitchlinks-expand-button
  i(class='fa fa-external-link-square' aria-hidden='true')
  #twitchlinks-notif-count.empty

#twitchlinks-expand-container

  #twitchlinks-top-bar
    a.title-link(href='https://github.com/shiboe/TwitchLinks/issues' target='_blank')
      .text Twitch Links

    .views
      a.view-all.hide-unless-active.active all
      a.view-saved.hide-unless-active saved
      a.view-hidden.hide-unless-active hidden

  #twitchlinks-link-list.hide-unless-active.active

  #twitchlinks-saved-list.hide-unless-active
    h1 saved!

  #twitchlinks-hidden-list.hide-unless-active
    h1 hidden!

  #twitchlinks-bottom-bar
    #twitchlinks-status

      .alive.status
        i(class="fa fa-check-circle-o" aria-hidden="true")
        .text GOOD - reading lines, feelin' fine

      .problems.status
        i(class="fa fa-question-circle-o" aria-hidden="true")
        .text PROBLEMS - had an issue, kicking the hamster

      .dead.status
        i(class="fa fa-times-circle-o" aria-hidden="true")
        .text ERROR - potato mode, can't read chat
