a.go-to-link(href="{{url}}" target="_blank")
  .url {{text}}
  .age-bar
    .color
  .author {{author}}

.controls
  a.expand-button
    i(class="fa fa-ellipsis-h" aria-hidden="true")

  .expanded-options
    a.save-link save

    a.unsave-link unsave

    a.hide-link hide
