body { margin: 0; padding: 0; width: 360px; }

#lists { max-height: 400px; overflow: scroll; text-align: center; }

ul { margin: 0; padding: 0; list-style: none; display: none; text-align: left; }
li { margin: 0; padding: 0; border-bottom:1px solid white; }
li:first-child { border-top: 1px solid white; }

li .link { padding: 6px 10px; text-decoration: none; display: block; text-overflow: ellipsis; white-space: nowrap; overflow:hidden; background-color: #F5F5F5; }
li .link:hover { background-color:white; }

li .move { float: left; padding: 6px 10px; color: #F5F5F5 !important; background-color: lightgrey; }
li .move:hover { background-color: #7B3EC3; color: white !important; }

a { cursor: pointer; outline: none !important; }

#ignore-urls { margin-top: 6px; display:none; }
.show-hidden #ignore-urls { display:block; }
.show-hidden #show-hidden,
.has-no-hidden #show-hidden { display:none; }


#active-urls .fa-arrow-up { display: none; }
#ignore-urls .fa-arrow-down { display: none; }

#active-urls a { color: #7B3EC3; }
#active-urls a:visited { color:#B68DE6; }
#ignore-urls a { color: lightgrey; }

#lists li.no-match { display: none; }

#status { padding: 20px; text-align: center; color: lightgrey; font-style: italic; }

.has-links #status { display: none; }
.has-links ul,
.has-links #filter { display: block; }

.button { color: #F5F5F5; background-color: lightgrey; padding:2px 6px; border-radius:6px; text-decoration: none; margin: 6px; display: inline-block; }
.button:hover { color: white; background-color: #7B3EC3; }
.button i { font-size:16px !important; vertical-align: middle; }
.button span { vertical-align: middle; }

.button.left { float: left; }
.button.right { float: right; }

#filter { display: none; margin: 6px 4px 6px 30px; width: 324px; padding: 2px 6px; box-sizing: border-box; outline: none; -webkit-appearance: none; border: 1px solid lightgrey; border-radius:6px; }
